<!--<app-lesson1></app-lesson1>-->
<!--<app-lessons2></app-lessons2>-->
<!--<app-lessons3>-->
<!--  <h1>Tag from App component</h1>-->
<!--</app-lessons3>-->
<!--<button (click)="send()">send</button>-->
<!--<app-lessons3 [childMessage]="parentMessage"></app-lessons3>-->

<!--<app-lessons3 (outputData)="getOutputData($event)"></app-lessons3>-->
<!--<h2>Number: {{ myNumber }}</h2>-->
<!--<h2>{{ count }}</h2>-->
<!--<app-lessons3 (status)="checkStatus($event)" ></app-lessons3>-->
<app-lessons4></app-lessons4>
<!--<app-my></app-my>-->
